<HTML>

<HEAd>
  <title> </title>
</HEAd>
<style>
  .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }

  .fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  @media (max-width: 767px) {
    .fullscreen-bg {
      background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
      display: none;
    }
  }
</style>
<BODY>
<header> </header>

<section>

<div>
  <TABLE>
   <tbody>
    <th>
      <tr>
        <td>
          <ul>
            <li>
              <h3>Neck hook and designs</h3>
            </li>
          </ul>
        </td>
      </tr>
    </th>
   </tbody>
  </TABLE>
</div>

  <div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
      <source src="video/big_buck_bunny.webm" type="video/webm">
      <source src="video/big_buck_bunny.mp4" type="video/mp4">
      <source src="video/big_buck_bunny.ogv" type="video/ogg">
    </video>
  </div>


</section>

<aside> </aside>

<footer> </footer>


</BODY>
</HTML>
