<center>
  <form method="post" action="/clients/login">
    <h3>Client Login</h3>
    <div>
      <input type="text" name="email" placeholder="Email">
    </div>
    <br>
    <div>
      <input type="password" name="password" placeholder="password">
    </div>
    <br>

    <div>
    <input type="submit" name="submit" value="Login">
      <p>SignUp to create an account</p><a href="signUp" type="button">SignUp </a>
    </div>
  </form>
</center>
