<center>
<h3>VeeDEsign Collections</h3>

<form method="post" action="/clients/signUp">

<div>
<input type="text" name="fname" placeholder="Name">
</div>
<br>

<div>
<input type="text" name="email" placeholder="Email">
</div>
<br>

<div>
<input type="text" name="phone" placeholder="Phone number">
</div>
<br>

<div>
<input type="password" name="password" placeholder="password">
</div>

  <div>
    <input type="submit" name="submit" value="signUp">
    <p>Already have an account then, login</p><a href="login" type="button">login </a>
  </div>
</form>

</center>
