<center>
<h4>Upload files</h4>

<!-- enctype="multipart/form-data" -->
<form id="uploadForm" enctype="multipart/form-data" action="/file/upload"
      method="post">
  <div>  <input type="file" name="uploadFile" /> </div>
  <br>
  <div> <input type="submit" value="submit"/> </div>
</form>

</center>
